@tailwind base;
@tailwind components;
@tailwind utilities;

.quill {
  /* this is the father to all class */
  /* background-color: red;
  border: 3px solid yellow; */
}

.ql-toolbar {
  /* this is the header part */
  /* background-color: #444;  */
  background-color: whitesmoke;
  border-radius: 14px 14px 0 0;
  text-align: left;
}

.ql-container {
  /*    this is the container part and it is also  father to ql-editor below */
  background-color: #dfdfdf;

  outline: none;
  border-radius: 0 0 14px 14px;
}
.ql-editor {
  /* this is under the ql-container class  */
  min-height: 180px;
  outline: none;
}

/* button svg {
  fill: white !important; 
} */

button svg {
  stroke: white !important;
  /* this is working only to line through and scripts   */
}
.ql-formats {
  /* > *:not(.ql-script) */
  /* this is group of bold italic line throug one group and then order one group e.t.c */
  border-right: 2px solid black;
  /* this is working */
}
.ql-container {
  font-size: 20px !important;
}

.ql-toolbar .ql-bold svg,
.ql-toolbar .ql-italic svg,
.ql-toolbar .ql-strike svg,
.ql-toolbar .ql-list svg,
.ql-toolbar .ql-align svg {
  fill: white !important;
  stroke: white !important;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("/src/assets/fonts/Kantumruy/KantumruyPro-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* i will modify  this range based on font weights in UI/UX */
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/src/assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");

  font-weight: 400 700; /* Modify this based on the weights you downloaded */
  font-style: normal;
}
@font-face {
  font-family: "Recolta";
  src: url("/src/assets/fonts/Recoleta-Black.ttf") format("truetype");

  font-weight: 400 700; /* Modify this based on the weights you downloaded */
  font-style: normal;
}
